<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <http auto-config="true">
        <csrf disabled="true"/>
        <intercept-url pattern="/resources/**" access="permitAll()" />
        <intercept-url pattern="/javax.faces.resource/**" access="permitAll()" />
        <intercept-url pattern="/css/**" access="permitAll()" />
        <intercept-url pattern="/resources/*/**" access="permitAll()" />
        <intercept-url pattern="/web/ns/**" access="permitAll()" />
        <intercept-url pattern="/web/s/**" access="isAuthenticated()" />

        <form-login login-page="/web/ns/login"
                    default-target-url="/web/ns/main"
                    username-parameter="username"
                    password-parameter="password"
                    login-processing-url="/web/ns/login"
                    authentication-failure-url="/web/ns/accessDenied" />

        <logout logout-url="/logout"
                invalidate-session="true"
                delete-cookies="JSESSIONID"
                logout-success-url="/web/ns/login" />

        <session-management invalid-session-url="/web/ns/login" >
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true"
                                 expired-url="/web/ns/login"/>
        </session-management>

        <access-denied-handler error-page="/web/ns/accessDenied"/>

    </http>


<!--    <authentication-manager>-->
<!--        <authentication-provider>-->
<!--            <user-service>-->
<!--                <user name="admin" password="{noop}admin" authorities="ROLE_ADMIN,ROLE_USER" />-->
<!--            </user-service>-->
<!--&lt;!&ndash;            <password-encoder ref="encoder" />&ndash;&gt;-->
<!--        </authentication-provider>-->
<!--    </authentication-manager>-->

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService" >
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>


</beans:beans>