<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true">


        <intercept-url pattern="/web/ns/**" access="permitAll()" />
        <intercept-url pattern="/web/s/**" access="isAuthenticated()" />

        <form-login login-page="/web/ns/login"
                    default-target-url="/web/s/main"
                    authentication-failure-url="/web/ns/login" />
        <logout logout-success-url="/web/ns/login" />

        <session-management invalid-session-url="/web/ns/login" >
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" expired-url="/web/ns/login"/>
        </session-management>

    </http>


<!--    <authentication-manager>-->
<!--        <authentication-provider>-->
<!--            <user-service>-->
<!--                <user name="admin" password="1234" authorities="ROLE_ADMIN" />-->
<!--            </user-service>-->

<!--        </authentication-provider>-->
<!--    </authentication-manager>-->

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService" >
<!--            <password-encoder ref="encoder" />-->
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>


</beans:beans>